@import 'color';

.img-profile {
  width: 40px;
  height: 40px;
}

.img-profile-follower {
  width: 30px;
  height: 30px;
}

.image-admin-course {
  width: 65;
  height: 65;
}

.img-user-admin {
  width: 65px;
  height: 65px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
    strong {
      display: block;
    }
  }
}
