.img-profile {
  width: 40px;
  height: 40px;
}

.img-profile-follower {
  width: 30px;
  height: 30px;
}

.img-user-admin {
  width: 65px;
  height: 65px;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  width: 100%;
  
}
.img-followers {
  margin-right: 10px;
  a > img {
    border-radius: 50%;
  }
}

.user_follow {
  padding: 0;
  li > a{
    img {
      width: 100px;
      border-radius: 50%;
      padding-top: 7px;
    }
  } 
}