<% provide :title, t(".create_exercise") %>
<div class="details_container">
  <div class="row">
    <div class="col">
      <%= render "form" %>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
